
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border: 3px solid #ff5733;
    margin:5px;
    padding:5px;
    width:25%;
    position: fixed;
    float:left;
}
#two{
	border: 3px solid #359948;
	margin: 5px;
	padding: 5px;
	width:25%;
	position: fixed;
	right: 5px;

}
#three{
	border: 3px solid #f7f262 ;
	margin: 5px;
	padding: 5px;
	width:25%;
	position: fixed;
	float:left;
	top:30%;
}
#four{
	border: 3px solid #398ce0 ;
	margin: 5px;
	padding: 5px;
	width:25%;
	position: fixed;
	top:30%;
	right: 5px;

}
#link{
	text-align:center;
	text-decoration-color: #ff5733;
	background-color: #359948;
	margin-right: 40%;
	margin-left: 40%;


}
